
.App{
    width: 1300px;
    margin: 20px auto;
}
.wirte-data{
    display: flex;
    flex-direction:row;
    .detail-data{
        width: 600px;
        .item-filed{
            margin: 20px;
            label{
                margin: 0 10px;
            }   
                  
        }
        .del-filed{
            margin: 10px;
            label{
                margin: 0 10px 0 0;
            } 
        }  
        .item-year{
            margin: 10px;
            border: 1px solid #cecece;
            border-radius: 6px;
        }
    }
    .all-charts{
        width: 700px;
    }
}